/**
*/
.paneSalg {
    /*
    -fx-background-image: url("images/yahtzee_22.jpg");
    -fx-background-size: auto;
    -fx-background-position: -75 -80;
    -fx-background-repeat: no-repeat;
    */
    -fx-background-color: rgb(255, 255, 255);

}

/* --- Kategorier -------------------------------------------------------------------------------------------------- */

.paneKat {
    -fx-font-size: 15pt;
}

.lblKategoriHeadline {
    -fx-font-size: 20pt;
}

.btnKat {
    -fx-pref-width: 200;
    -fx-pref-height: 100;
    -fx-min-width: 100;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

/* --- Produkter --------------------------------------------------------------------------------------------------- */

.paneProdukter {
}

.paneProdSelect {

;
}

.btnProdukt {
    -fx-pref-width: 200;
    -fx-pref-height: 100;
    -fx-wrap-text: true;
    -fx-font-size: 15pt;
    -fx-text-alignment: center;
    -fx-padding: 5 10;
}





/* --- Ordre ------------------------------------------------------------------------------------------------------- */

.paneOrdre {

    /*
-fx-pref-width: 600;
     */
}



.lblOrdre {
    -fx-font-size: 20pt;
}

/* --- Ordrelinje Legend --- */
.lblLegendProduktnavn, .lblLegendAntal, .lblLegendStkPris, .lblLegendRabat, .lblLegendSamletPris {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

/* --- Ordrelinjer ---*/

.lblProduktnavn, .txtfAntal, .txtfStkPris, .txtfRabat, .txtfSamletPris {
    -fx-font-size: 12pt;
}

.lblProduktnavn {
    -fx-pref-width: 300;
}

.txtfAntal, .txtfStkPris, .txtfRabat, .txtfSamletPris  {
    -fx-alignment: baseline-right;
}

.txtfAntal {
    -fx-min-width: 40;
}

.txtfStkPris {
    -fx-min-width: 65;
}

.txtfRabat {
    -fx-min-width: 65;
}

.txtfSamletPris {
    -fx-min-width: 70;
}