/**
*/
.paneSalg {
    /*
    -fx-background-image: url("images/yahtzee_22.jpg");
    -fx-background-size: auto;
    -fx-background-position: -75 -80;
    -fx-background-repeat: no-repeat;

    */
    -fx-background-color: rgb(255, 255, 255);

}

.lblHeadlinePaneLeft {
    -fx-font-size: 20pt;
}

.btnBack {
    /*
    -fx-pref-width: 75;
     */
    -fx-font-size: 12pt;

}

/* --- Kategorier -------------------------------------------------------------------------------------------------- */

.paneKat {
    -fx-font-size: 15pt;
}



.btnKat {
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-min-width: 100;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

/* --- Produkter --------------------------------------------------------------------------------------------------- */

.paneProdukter {
}

.paneProdSelect {

;
}

.btnProdukt {
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-wrap-text: true;
    -fx-font-size: 15pt;
    -fx-text-alignment: center;
    -fx-padding: 5 10;
}





/* --- Ordre ------------------------------------------------------------------------------------------------------- */

.paneOrdre {

    /*
-fx-pref-width: 600;
     */
}



.lblOrdre {
    -fx-font-size: 20pt;
}

/* --- Ordrelinje Legend --- */
.lblLegendProduktnavn, .lblLegendAntal, .lblLegendStkPris, .lblLegendRabat, .lblLegendSamletPris {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.lblLegendAntal, .lblLegendStkPris, .lblLegendRabat, .lblLegendSamletPris {
    -fx-alignment: baseline-right;
    -fx-padding: 0 10 0 0;
}

.lblLegendSamletPris {
    -fx-padding: 0;
}


.lblLegendProduktnavn {
    -fx-pref-width: 400;
    -fx-min-width: 60;
}

.lblLegendAntal {
    -fx-min-width: 45;
}

.lblLegendStkPris {
    -fx-min-width: 65;
}

.lblLegendRabat {
    -fx-min-width: 65;
}

.lblLegendSamletPris {
    -fx-min-width: 65;
}


/* --- Ordrelinjer ---*/

.lblProduktnavn, .txtfAntal, .txtfStkPris, .txtfRabat, .txtfSamletPris, .lblSamletPris {
    -fx-font-size: 12pt;
}

.txtfAntal, .txtfStkPris, .txtfRabat, .txtfSamletPris, .lblSamletPris  {
    -fx-alignment: baseline-right;
}

