/**
*/
.pane {
    /*
    -fx-background-image: url("images/yahtzee_22.jpg");
    -fx-background-size: auto;
    -fx-background-position: -75 -80;
    -fx-background-repeat: no-repeat;
    */
}

/**
 */
.btnPrisliste {
    -fx-pref-width: 600;
    -fx-pref-height: 100;
    -fx-font-size: 30pt;
    -fx-cursor: hand;
 }

/**
*/
.btnPrisliste:hover {
}