/**
*/
.paneSalg {
    /*
    -fx-background-image: url("images/yahtzee_22.jpg");
    -fx-background-size: auto;
    -fx-background-position: -75 -80;
    -fx-background-repeat: no-repeat;

ghfgghf
    */

    -fx-background-color: rgb(255, 255, 255);

}

.lblHeadlinePaneLeft {
    -fx-font-size: 20pt;
}

.btnBack {
    /*
    -fx-pref-width: 75;
     */
    -fx-font-size: 12pt;

}

/* --- Kategorier -------------------------------------------------------------------------------------------------- */

.paneKat, .paneProdukter {
    -fx-font-size: 15pt;
    -fx-border-width: 1;
    -fx-border-color: rgb(0, 0, 0);
}



.btnKat {
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-min-width: 100;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-color: rgb(75, 75, 255);
}

/* --- Produkter --------------------------------------------------------------------------------------------------- */

.paneProdukter {

}



.btnProdukt {
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-wrap-text: true;
    -fx-font-size: 15pt;
    -fx-text-alignment: center;
    -fx-padding: 5 10;
    -fx-background-color: rgb(75, 255, 75);
}





/* --- Ordre ------------------------------------------------------------------------------------------------------- */

.paneOrdre {
    -fx-font-size: 15pt;
    -fx-border-width: 1;
    -fx-border-color: rgb(0, 0, 0);


}

.scrollPaneOrdrelinjer {
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 255, 255, 0.0); /* Acts as border. */

}

.paneOrdrelinjer {
    /*
    -fx-background-color: rgb(255, 255, 255);
     */
}

.lblOrdre {
    -fx-font-size: 20pt;
}

/* --- Ordrelinjer --- */


.lblLegendProduktnavn, .lblLegendAntal, .lblLegendStkPris, .lblLegendRabat, .lblLegendSamletPris {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 0;
    -fx-alignment: baseline-center;
}

.lblLegendProduktnavn {
    -fx-alignment: baseline-left;
    -fx-padding: 0;
}


.lblLegendProduktnavn, .lblProduktnavn {
    -fx-pref-width: 400;
    -fx-min-width: 60;
}

.lblLegendAntal, .txtfAntal {
    -fx-min-width: 55;
}

.lblLegendStkPris, .lblStkPris {
    -fx-min-width: 65;
}

.lblLegendRabat, .txtfRabat {
    -fx-min-width: 65;
}

/*
Bemærk:
Skal være min width af lblSamletPris plus scrollbar width.
 */
.lblLegendSamletPris {
    -fx-min-width: 79;
    -fx-padding: 0 25 0 0;
}

.lblSamletPris {
    -fx-min-width: 65;
    -fx-padding: 0 10 0 0;
}


/* --- Ordrelinjer ---*/

.lblProduktnavn, .txtfAntal, .lblStkPris, .txtfRabat, .lblSamletPris {
    -fx-alignment: baseline-right;
    -fx-font-size: 12pt;
}

.lblProduktnavn  {
    -fx-alignment: baseline-left;
}

