/**
*/
.pane {
    /*
    -fx-background-image: url("images/yahtzee_22.jpg");
    -fx-background-size: auto;
    -fx-background-position: -75 -80;
    -fx-background-repeat: no-repeat;

    */
    -fx-background-color: rgb(255, 255, 255);

}

